<ion-header>
  <ion-toolbar>
    <ion-title>Perfil do Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="usuario | async as user">
    <ion-item>
          <ion-text>
            Nome: {{user.nome}} - 
          </ion-text>
          <ion-text>
            Email: {{user.email}}- 
          </ion-text>
          <ion-text>
            Senha: {{user.pws}}
          </ion-text>
          <ion-note> {{key}} </ion-note>
        </ion-item>      
    </ion-list>
</ion-content>
