<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #fc="ngForm" (ngSubmit)="onSubmit(fc)">
    <ion-item>
      <ion-label position="floating">Nome da Festa</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="evento.nome" required></ion-input>
    </ion-item>

    <ion-item position="floating">
        <ion-item>
            <ion-label>Tema da festa</ion-label>
            <ion-select value="Livre" okText="OK" cancelText="Cancelar" name="tema" [(ngModel)]="evento.tema" required>
              <ion-select-option value="Livre">Tema Livre</ion-select-option>
              <ion-select-option value="Fantasia">Festa Fantasia</ion-select-option>
              <ion-select-option value="Pijama">Festa do Pijama</ion-select-option>
              <ion-select-option value="Funk">Baile funk</ion-select-option>
            </ion-select>
          </ion-item>
      <ion-label position="floating">Tema da Festa</ion-label>
      <!-- <ion-input type="text" name="tema" [(ngModel)]="evento.tema" required></ion-input> -->

      <!-- <ion-text color="danger" *ngIf="e.invalid && e.dirty">
        <strong>Email Inválido</strong>
      </ion-text> -->

    </ion-item>

    <ion-item>
      <ion-label position="floating">Data da Festa</ion-label>
      <ion-input type="date" name="data" [(ngModel)]="evento.data" required></ion-input>
    </ion-item>
    <!-- <ion-text color="danger" *ngIf="p.invalid && p.dirty">
      <strong>Senha muito curta!</strong>
    </ion-text> -->

    <ion-item>
      <ion-label position="floating">Horário da Festa</ion-label>
      <ion-input type="time" name="horario" [(ngModel)]="evento.horario" required></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-button type="submit" shape="round" [disabled]="fc.invalid">
        <ion-icon name="save"></ion-icon>&nbsp;Salvar
      </ion-button>
      <ion-button shape="round" type="reset" routerLink="/">Cancelar</ion-button>
    </ion-item>

  </form>

</ion-content>