<ion-header>
  <ion-toolbar class="festinha">
    <ion-title slot="start">
      HOME
    </ion-title>
    <ion-title slot="end">
      <ion-icon name="person" routerLink="/login-usuario"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-item>
<ion-list *ngIf="eventos | async as events">
  <ion-card *ngFor="let event of events"  routerLink="/tabs/perfilEvento/{{event.key}}">
    <ion-card-header>
      <ion-card-subtitle>{{event.tema}}</ion-card-subtitle>
      <ion-card-title>{{event.nome}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{event.data}}
      {{event.horario}}
    </ion-card-content>
  </ion-card>
</ion-list>
</ion-item>